html, body {
    height: 100%;
}

.content {
    margin: auto;
    padding-top: 54px;
    max-width: 935px;
    align-content: center;
    height: 100%;
    box-sizing: border-box;
}

.content-container {
    padding-top: 30px;
}

.comment-date {
    padding-left: 16px;
    font-size: 6px;
    color: #bdbdbd;
}

.comment-text {
    margin-bottom: 3px;
    font-size: 14px;
    display: inline;
}

.comment-username {
    padding-left: 16px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.story-nav {
    padding-top: 10px;
    padding-left: 16px;
}

.story-btn {
    background-color: white;
    border: 0;
}

.like-button-wrapper {
    width: 24px;
    height: 24px;
    padding-right: 20px;
}

.story-like {
    padding-left: 16px;
}

.story-like-count {
    font-size: 13px;
    display: inline;
}

.story-like-count-text {
    font-size: 13px;
    display: inline;
}

.story-comment-input {
    background: 0 0;
    border: 0;
    color: #262626;
    display: flex;
    font-size: inherit;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 0;
}

.story-comment-input-wrapper {
    margin: 0 !important;
    width: 100%;
    padding-left: 16px;
    border-top: 1px solid #bdbdbd;
}

.story-item {
    margin-bottom: 30px;
    border: 1px solid #bdbdbd;
}

.imoz-wrapper {
    padding-left: 0;
}

.imoz {
    background-color: white;
    padding-top: 12px;
    border: 0;
    padding-left: 0;
}

.comment-button {
    border: 0;
    background-color: #00ff0000;
    padding-top: 15px;
}

.comment-button p {
    color: #00aeff;
    font-weight: 600;
}

.comment-button-wrapper {
    padding-left: 30px;
}

.recommend-follow {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 3px;
    font-weight: 600;
    color: #00aeff
}

.recommend-unfollow {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 3px;
    font-weight: 600;
    color: lightcoral;
}

.show-all {
    padding-left: 16px;
    font-size: 13px;
    color: gainsboro;
    margin-bottom: 5px;
    cursor: pointer;
}

.story-modal-body {
    height: 400px;
    overflow-y: scroll;
}

.story-modal-close {
    background-color: white;
    border: 0;
}

.story-modal-x {
    font-size: 20px;
}

.story-modal-username {
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.story-modal-comment {
    display: inline-block;
    font-size: 13px;
    margin-left: 13px;
    margin-right: 13px;
    min-width: calc(100% - 26px);
    overflow-x: hidden;
    word-break: break-all;
}

.story-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
}

.story-modal-comment-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}

.story-modal-owner-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#story-modal-comment-list {
    height: calc(600px - 72px - 56px);
    width: 100%;
    overflow-y: scroll;
    border-left: 1px solid #bdbdbd;
}

.story-modal-input {
    height: 56px;
    width: 100%;
    --bs-gutter-x: 0 !important;
    border-top: #bdbdbd solid 1px;
    border-left: 1px solid #bdbdbd;
}

#story-modal-comment-owner {
    height: 72px;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
}

#story-modal-img {
    padding: 0px !important;
    margin: 0px !important;
    min-width: 600px;
}