<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-chatusers">
    <div class="row" style="width: 100%;">
        <div class="col-3" style="margin-left: 10px; margin-top: 10px;">
            <img th:src="@{image/default-profile.png}" style="width: 46px; height: 46px; border-radius: 50%;">
        </div>
        <div class="col-4" style="margin-left: 0px; margin-top: 20px; padding-left: 0;">
            <p style="font-size: 12px; margin-left: 0;">Username</p>
        </div>
    </div>
</div>
</html>