<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mygram</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/direct.css}">
</head>
<body>
<div th:replace="/nav.html :: fragment-nav(current = ${pageInfo.currentPage}, user = ${pageInfo.currentUser})"></div>
<div class="content">
    <div class="content-container row" style="margin-left: 0!important; margin-right: 0!important; height: 95%">
        <div class="col-4" style="border: 1px solid #bdbdbd; padding: 0; margin: 0;">
            <div style="height: 60px; border-bottom: 1px solid #bdbdbd; width: 100%; position: relative; padding: 0; margin: 0;">
                <button class="dm-search-button">
                    <i class="fas fa-edit fa-lg"></i>
                </button>
            </div>
            <div style="overflow-y: scroll; height: calc(100% - 60px);">
                <div th:replace="chatusers.html :: fragment-chatusers"></div>
            </div>
        </div>
        <div class="chat-box h-100 col-8">
            <!--     Enter chat room       -->
            <div class="h-100 chatroom" th:if="false">
                <div class="chatroom-header">
                </div>
                <div style="height: calc(100% - 120px); overflow-y: scroll;">
                    <div th:replace="sendchat.html :: fragment-sendchat"></div>
                    <div th:replace="recvchat.html :: fragment-recvchat"></div>
                </div>
                <div id="input-chat" class="dm-input-wrapper">
                    <input type="text" placeholder="메시지입력..." class="form-control rounded-0 border-0 py-4 bg-light dm-input-text"/>
                </div>
            </div>
            <!--        Default         -->
            <div class="h-100" th:unless="false" style="position: relative;">
                <div class="default-item-box">
                    <i class="far fa-paper-plane fa-5x default-icon"></i>
                    <p class="default-text-title">내 메시지</p>
                    <p class="default-text-content">친구나 그룹에 비공개 사진과 메시지를 보내보세요.</p>
                    <button class="btn-primary default-send-msg-btn">메시지 보내기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>