<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-gridPicture(story)">
    <div class="gallery-picture" tabindex="0">
        <img th:src="@{'/file/post/' + ${story.imageUrl}}" class="gallery-image">
        <div class="gallery-item-info">
            <ul>
                <li class="grid-like"><span class="visually-hidden">Likes:</span>
                    <i class="fas fa-heart" aria-hidden="true"></i> 111
                </li>
                <li class="grid-comments"><span class="visually-hidden">Comments:</span>
                    <i class="fas fa-comment" aria-hidden="true"></i> 111
                </li>
            </ul>
        </div>
    </div>
</div>
</html>