<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mygram</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/changePassword.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
<div th:replace="/nav.html :: fragment-nav(current = ${baseInfo.current}, user = ${baseInfo.currentUser})"></div>
<div class="content">
    <div class="content-container"
         style="margin-left: 0!important; margin-right: 0!important; margin-top: 30px;height: 90%; border: 1px solid #bdbdbd;">
        <div style="margin: auto; width: 300px; height: 200px">
            <form id="update-form" style="min-width: 100%">
                <img th:src="@{'/file/profile/' + ${baseInfo.currentUser.profileImageUrl}}" id="preview-image" style="border-radius: 50%; width: 56px; height: 56px; margin-bottom: 20px;">
                <label for="image" style="display: inline-block; font-size: 11px; border: 0; background-color: white; color: #00aeff; padding-top: 10px">
                    프로필 사진 바꾸기
                </label>
                <input style="display: none" type="file" id="image" name="image">
                <input class="change-password-input"
                       name="name"
                       type="text"
                       placeholder="이름"
                       th:value="${baseInfo.currentUser.name} ? ${baseInfo.currentUser.name} : null"
                >
                <input class="change-password-input"
                       name="username"
                       type="text"
                       placeholder="사용자 이름"
                       th:value="${baseInfo.currentUser.username} ? ${baseInfo.currentUser.username} : null"
                >
                <input class="change-password-input"
                       name="website"
                       type="text"
                       placeholder="웹 사이트"
                       th:value="${baseInfo.currentUser.website} ? ${baseInfo.currentUser.website} : null"
                >
                <input class="change-password-input"
                       name="intro"
                       type="text"
                       placeholder="소개"
                       th:value="${baseInfo.currentUser.intro} ? ${baseInfo.currentUser.intro} : null"
                >
                <input class="change-password-input"
                       name="email"
                       type="text"
                       placeholder="이메일"
                       th:value="${baseInfo.currentUser.email} ? ${baseInfo.currentUser.email} : null"
                >
                <input class="change-password-input"
                       name="phoneNumber"
                       type="text"
                       placeholder="전화번호"
                       th:value="${baseInfo.currentUser.phoneNumber} ? ${baseInfo.currentUser.phoneNumber} : null"
                >
                <input class="change-password-input"
                       name="gender"
                       type="text"
                       placeholder="성별"
                       th:value="${baseInfo.currentUser.gender} ? ${baseInfo.currentUser.gender} : null"
                >
                <button type="button" th:attr="onclick=|update('${baseInfo.currentUser.username}')|"
                        class="change-password-button">제출</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function update(userId){
        let dataArray = $("#update-form").serializeArray();
        let data = new FormData();
        if ($('input[name=image]')[0].files[0]!=undefined){
            data.append('image', $('input[name=image]')[0].files[0]);
        }
        dataArray.forEach(ele => data.append(ele.name, ele.value));
        $.ajax({
            type: "put",
            url: '/api/user',
            data: data,
            contentType: false,
            processData: false,
            success: function(){
                window.location.href = "http://localhost:9091/profile";
            },
            error: function(){
                alert("error");
            }
        });
    }
</script>
<script type="text/javascript">
    function readImage(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader()
            reader.onload = e => {
                const previewImage = document.getElementById("preview-image")
                previewImage.src = e.target.result
            }
            reader.readAsDataURL(input.files[0])
        }
    }
    const inputImage = document.getElementById("image")
    inputImage.addEventListener("change", e => {
        readImage(e.target)
    })
</script>
</body>
</html>