<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-recvchat">
    <div style="width: 70%; margin-bottom: 3px; padding-left: 10px;">
        <div>
            <img th:src="@{/image/default-profile.png}" style="width: 15px; height: 15px; border-radius: 50%"/>
            <span class="small" style="font-size: 9px;">userddd name</span>
        </div>
        <div class="rounded" style="padding: 3px 2px; border: 1px solid #bdbdbd; border-radius: 25px">
            <p style="font-size: 0.9rem; margin-bottom: 0; padding: 5px; color: #262626; word-break: break-all;">
                recvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecvrecv msg
            </p>
        </div>
        <p class="small" style="font-size: 9px;">2012.07.22</p>
    </div>
</div>
</html>