<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-sendchat">
    <div style="width: 70%; margin-right: 10px; margin-bottom: 3px; margin-left: auto;">
        <div class="send-media-body" style="padding-top: 3px;">
            <div class="rounded" style="padding: 3px 2px; border: 1px solid #bdbdbd; border-radius: 25px; ">
                <p style="font-size: 0.9rem; margin-bottom: 0; padding: 5px; color: #262626; word-break: break-all;">
                    send msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msgsend msg
                </p>
            </div>
            <p class="small" style="font-size: 9px;">2021.07.22</p>
        </div>
    </div>
</div>
</html>