<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mygram</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signbase.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<main id="signup-form">
    <div class="sign-wrapper">
        <div class="sign-box">
            <img class="logo" src="/image/logo.png">
            <p>친구들의 사진과 동영상을 보려면 가입하세요.</p>
            <a href="/oauth2/authorization/facebook" style="text-decoration:none;">
                <button class="sign-button facebook-login">Facebook으로 로그인</button>
            </a>
            <a href="/oauth2/authorization/google" style="text-decoration:none;">
                <button class="sign-button google-login">Google로 로그인</button>
            </a>
            <div class="line-text"> 또는</div>
            <form method="post" th:action="@{/signup}" th:object="${userRequestDto}">
                <input class="sign-input form-control"
                       name="emailOrPhoneNumber"
                       th:classappend="${#fields.hasErrors('emailOrPhoneNumber')} ? 'is-invalid'"
                       type="text"
                       placeholder="휴대폰 번호 또는 이메일 주소"
                       required
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('emailOrPhoneNumber')}"
                     th:errors="*{emailOrPhoneNumber}">
                </div>
                <input class="sign-input form-control"
                       name="name"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                       type="text"
                       placeholder="성명"
                       required
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                </div>
                <input class="sign-input form-control"
                       name="username"
                       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"
                       type="text"
                       placeholder="사용자 이름"
                       required
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                </div>
                <input class="sign-input form-control"
                       name="password"
                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                       type="password"
                       placeholder="비밀번호"
                       required
                >
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                </div>
                <button class="sign-button" type="submit">가입</button>
            </form>
        </div>
        <div id="sign-bottom-box">
            <p>계정이 있으신가요?
                <a href="/login" style="text-decoration:none;">로그인</a>
            </p>
        </div>
    </div>
</main>
</body>
</html>